/* Generic styles. */

body {
	background: #542437;
	font-family: "Helvetica", "Arial", Sans-Serif;
	color: #222222;
	margin: 60px auto;
}

.container {
	background: #FFFFFF;
	padding: 20px;
}

.heading {
	font-size: 5.0rem;
	font-weight: 700;
}

#image_spacer{
	background: url("https://unsplash.it/1000/?random") no-repeat fixed center;
	padding: 200px 0px;
}

#post p{
	font-family: "Georgia", Serif;
}

